<meta charset="UTF-8">

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script type="module" src="../збірка-осідок/чит/гра/гра.js" crossorigin="anonymous"></script>

<style>
    #гра > div > div {
        display: inline-block;
        width: 20px;
    }
    #гра > div > div:hover {
        cursor: pointer;
    }
</style>

<div id="гра"></div>